
<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix header">
            <div class="col-md-12 column">
               Kanji -- Hiragana
            </div>
         </div>
         <div class="row clearfix ventana">

            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column kanji">
               日本語
            </div>
            <div class="col-md-4 column">
            </div>

            <div class="row clearfix">
               <div class="col-xs-12 column">

                  <div class="col-xs-4 column previo">
                    <ul class="pager">
                        <li><a href="#">Previo</a></li>
                    </ul>
                  </div>
     
                  <div class="col-xs-4 column">
                  </div>
                  
                  <div class="col-xs-4 column siguiente">
                    <ul class="pager">
                        <li><a href="#">Siguiente</a></li>
                    </ul>
                  </div>
                  
               </div>
            </div>

         </div>
         
         <div class="row clearfix navbar navbar-fixed-bottom respuesta">
            <div class="col-md-12 column">
               Respuesta
            </div>
         </div>
         
      </div>
   </div>
</div>