
<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix header">
            <div class="col-md-12 column">
               Kanji -- Hiragana
            </div>
         </div>
         <div class="row clearfix ventana">

            <div class="col-md-4 col-md-push-4 column kanji">
               日本語
            </div>

            <div class="row clearfix">
               <div class="col-xs-12 column">

                  <div class="col-xs-4 column previo">
                    <ul class="pager">
                        <li><a href="#">Previo</a></li>
                    </ul>
                  </div>
                 
                  <div class="col-xs-4 col-md-push-4 column siguiente">
                    <ul class="pager">
                        <li><a href="#">Siguiente</a></li>
                    </ul>
                  </div>
                  
               </div>
            </div>

         </div>

         <div class="row clearfix navbar-fixed-bottom respuesta">
            <div class="row clearfix">
               <div class="col-md-12 column">
                  <div >
                  <%= image_tag("tab.svg", :alt => "svg tab", class: "menu_tab btn") %>
                  </div>
               </div>
            </div>
            <div class="row clearfix">
               <div class="col-md-6 col-md-push-3 column panel">
                  <div>
                     Contenido
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
