<!--<div class="container">
   
   <div class="bs-container">

      <div class="col-lg-4">
         <ul class="pager">
            <li><a href="#">Previous</a></li>
         </ul>
      </div>

      <div class="col-lg-4 col-centered center-block">
         <div class="kanji">
            日本語
         <div>
      </div>

      <div class="col-lg-4">
         <ul class="pager">
            <li><a href="#">Next</a></li>
         </ul>
      </div>
   </div>

</div>-->


<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix header">
            <div class="col-md-12 column">
               Kanji -- Hiragana
            </div>
         </div>
         <div class="row clearfix ventana">

<!--            <div class="col-md-4 hidden-xs hidden-sm column previo">
               Previo
            </div>
            <div class="col-md-4 column kanji">
               日本語
            </div>
            <div class="col-md-4 hidden-xs hidden-sm column siguiente">
               Siguiente
            </div>


            <div class="row clearfix hidden-md hidden-lg">
               <div class="col-xs-12 column">
                  <div class="col-xs-4 column previo">
                     Previo
                  </div>
                  <div class="col-xs-4 column">
                  </div>
                  <div class="col-xs-4 column siguiente">
                     Siguiente
                  </div>
               </div>
            </div>-->
<!--
.hidden-phone
.hidden-tablet
.hidden-desktop-->

            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column kanji">
               日本語
            </div>
            <div class="col-md-4 column">
            </div>

            <div class="row clearfix">
               <div class="col-xs-12 column">
<!--                  <div class="col-xs-4 column previo">
                     Previo
                  </div>-->

                  <div class="col-xs-4 column previo">
                    <ul class="pager">
                        <li><a href="#">Previous</a></li>
                    </ul>
                  </div>
     

                  
                  <div class="col-xs-4 column">
                  </div>
<!--                  <div class="col-xs-4 column siguiente">
                     Siguiente
                  </div>-->
                  
                  <div class="col-xs-4 column previo">
                    <ul class="pager">
                        <li><a href="#">Siguiente</a></li>
                    </ul>
                  </div>
                  
               </div>
            </div>

         </div>
         <div class="row clearfix respuesta">
            <div class="col-md-12 column">
               Respuesta
            </div>
         </div>
      </div>
   </div>
</div>