/* Fuentes */

.header {
  text-align: center;
}

.kanji {
  font-size: 15vh;
  text-align: center;
}

.siguiente, .previo {
  font-size: 4vh;
}

.respuesta {
  font-size: 7vh;
  text-align: center;
/*   height: 1vh; */
}

/* Paddings */

.header {
    padding-top: 2vh;
}

.ventana {
    padding-top: 25vh;
}

/* Tab */

.btn {
   padding: 0;
}

.menu_tab {
   height: 8vh;
   padding: 0;
   margin: 0;
   margin-bottom:-1px;
/*    height: 60px; */
}

.panel {
   padding: 0;
   margin: 0;
/*    height: 150px; */
   /* Only round the top corners */
   -webkit-border-top-left-radius: 30px;
   -webkit-border-top-right-radius: 30px;
   -moz-border-radius-topleft: 30px;
   -moz-border-radius-topright: 30px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px; 
}

/* http://css-tricks.com/scale-svg/ */

/* ANIMACION */

/* http://codepen.io/LFeh/pen/ICkwe */

.respuesta { 
  &:hover{
    .accordion-content{
      max-height: 300px;
    }
  }
}

.accordion-content{
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
  background: #e5feff;
  overflow: hidden;
  max-height: 0;
}

.accordion-inner{
  padding: 0 15px;
}

.accordion-toggle{
  -webkit-transition: background .1s linear;   
  -moz-transition: background .1s linear;   
  -ms-transition: background .1s linear;   
  -o-transition: background .1s linear;   
  transition: background .1s linear;   
  background: #00b8c9;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  
  &:hover{
    background: darken(#00b8c9, 15%);
  }
  
}