body {
  /*padding-top: 5vh;*/
}

.header {
  text-align: center;
  padding-top: 2%;
}

.ventana {
  padding-top: 15%;
}

.kanji {
  font-size: 15vh;
/*   font-size: 6.8vw; */
  text-align: center;
}

.siguiente, .previo {
  font-size: 5vh;
  padding-top: 5%;
}

.previo {
  text-align: left;
}

.siguiente {
  text-align: right;
}

.respuesta {
  font-size: 7vh;
  padding-top: 25%;   
  text-align: center;
}

.logo-grande {
  max-width:100%;
  max-height:100%;
}