/* Fuentes */

.header {
  text-align: center;
}

.kanji {
  text-align: center;
  font-size: 15vh;
}

.siguiente, .previo {
   font-size: 4vh;
}

.respuesta {
  font-size: 7vh;
  text-align: center;
}

/* Paddings */

.header {
/*     padding-top: 2vh; */
}

.ventana {
/*     padding-top: 25vh; */
}

/* Tab */

.btn {
   padding: 0;
}

.menu_tab {
   position: relative;
/*    height: 2vh; */
/*    width: 25vw; */
}

/* MEDIA */

/*
 * Min-Width: Refers to everything greater than or equal to the amount given.
 * Max-Width: Refers to everything less than or equal to the amount given.
*/

/*@media (max-width: 1700px) {
   .kanji {
      font-size: 15vh;
   }
   
   .siguiente, .previo {
      font-size: 4vh;
  }
  
   .header {
       padding-top: 10px;
   }

   .ventana {
       padding-top: 150px;
   }
}

@media (max-width: 1000px) {
   .kanji {
      font-size: 7vh;
   }
   
   .siguiente, .previo {
      font-size: 4vh;
  }
  
   .header {
       padding-top: 10px;
   }

   .ventana {
       padding-top: 10px;
   }
}
@media (max-width: 500px) {
   .kanji {
      font-size: 7vh;
   }
   
   .siguiente, .previo {
      font-size: 2vh;
  }
  
   .header {
       padding-top: 20px;
   }

   .ventana {
       padding-top: 250px;
   }
}*/